<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">

    <servlet>
        <servlet-name>PageJsp</servlet-name>
        <jsp-file>/pages/page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageJsp</servlet-name>
        <url-pattern>/jsp</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>filters.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/courses</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/pages/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePage</servlet-name>
        <jsp-file>/pages/update.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePage</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePage</servlet-name>
        <jsp-file>/pages/delete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePage</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>servlets.CountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/country</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>404</error-code>
        <location>/pages/error404.jsp</location>
    </error-page>

</web-app>